@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .card {
    width: 1000px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    border-radius: 20px;
    /* Remove the fixed height */
    /* height: 570px; */
    /* Add padding for spacing */

    /* Add box-sizing to include padding in width and height */
    box-sizing: border-box;
}


.container .card .form {
    width: 100%;
    height: 100%;

    display: flex;
}

.container .card .left-side {

    background-color: #304767;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px 30px;
    box-sizing: border-box;
    /* Use flex-grow to make it take up remaining space */
    flex-grow: 1;
}

/*left-side-start*/
.left-heading {
    color: #fff;

}

.steps-content {
    margin-top: 30px;
    color: #fff;
}

.steps-content p {
    font-size: 12px;
    margin-top: 15px;
}

.progress-bar1 {
    list-style: none !important;
    /*color:#fff;*/
    margin-top: 30px !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    counter-reset: container 0 !important;
}

.progress-bar1 li {
    position: relative !important;
    margin-left: 40px !important;
    margin-top: 50px !important;
    counter-increment: container 1 !important;
    color: #4f6581 !important;
}

.progress-bar1 li::before {
    content: counter(container) !important;
    line-height: 25px !important;
    text-align: center !important;
    position: absolute !important;
    height: 25px !important;
    width: 25px !important;
    border: 1px solid #4f6581 !important;
    border-radius: 50% !important;
    left: -40px !important;
    top: -5px !important;
    z-index: 10 !important;
    background-color: #304767 !important;


}


.progress-bar1 li::after {
    content: '' !important;
    position: absolute !important;
    height: 90px !important;
    width: 2px !important;
    background-color: #4f6581 !important;
    z-index: 1 !important;
    left: -27px !important;
    top: -70px !important;
}


.progress-bar1 li.active::after {
    background-color: #fff;

}

.progress-bar1 li:first-child:after {
    display: none;
}

/*.progress-bar li:last-child:after{*/
/*  display:none;  */
/*}*/
.progress-bar1 li.active::before {
    color: #fff;
    border: 1px solid #fff;
}

.progress-bar1 li.active {
    color: #fff !important;
}

.d-none {
    display: none;
}

/*left-side-end*/
.container .card .right-side {

    background-color: #fff;
    height: 100%;
    border-radius: 20px;
}

/*right-side-start*/
.main {
    display: none;
}

.active {
    display: block;
}

.main {
    padding: 10px;
}

.main small {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    height: 30px;
    width: 30px;
    background-color: #ccc;
    border-radius: 50%;
    color: yellow;
    font-size: 19px;
}

.text {
    margin-top: 20px;
}

.congrats {
    text-align: center;
}

.text p {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #cbced4;
}

.input-text {
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

.input-text .input-div {
    width: 100%;
    position: relative;

}

.select2-selection {
    border-radius: 5px !important;
    border: 1px solid #cbced4 !important;

}

.select2-container .select2-selection--single{
    width: 100% !important;
    height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 4px !important;
}

input[type="text"] {
    width: 100%;
    height: 40px;
    border: none;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #cbced4;
    gap: 20px;
    box-sizing: border-box;
    padding: 0px 10px;
}

textarea {
    width: 100%;
    height: 80px;
    border: none;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #cbced4;
    gap: 20px;
    box-sizing: border-box;
    padding: 0px 10px;
}

h5 {
    font-weight: 600;
}

h2 {
    font-weight: bold;
}

label {
    font-size: 13px !important;
}

select {
    font-size: 13px;
    width: 100%;
    height: 40px;
    border: none;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #cbced4;
    gap: 20px;
    box-sizing: border-box;
    padding: 0px 10px;
}

.input-text .input-div span {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    transition: all 0.5s;
}

.input-div input:focus~span,
.input-div textarea:focus~span,
.input-div input:valid~span {
    top: -15px;
    left: 6px;
    font-size: 10px;
    font-weight: 600;
}

.input-div span {
    top: -15px;
    left: 6px;
    font-size: 10px;
}

.buttons button {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #304767;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}

.button_space {
    display: flex;
    gap: 20px;
    margin: 30px;

}

.button_space button:nth-child(1) {
    background-color: #fff;
    color: #000;
    border: 1px solid#000;
}

.user_card {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 200px;
    width: 100%;
    border: 1px solid #c7d3d9;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.user_card span {
    height: 80px;
    width: 100%;
    background-color: #dfeeff;
}

.circle {
    position: absolute;
    top: 40px;
    left: 60px;
}

.circle span {
    height: 70px;
    width: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
}

.circle span img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.social {
    display: flex;
    position: absolute;
    top: 100px;
    right: 10px;
}

.social span {
    height: 30px;
    width: 30px;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #cbd6dc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: #cbd6dc;

}

.social span i {
    cursor: pointer;
}

.heart {
    color: red !important;
}

.share {
    color: red !important;
}

.user_name {
    position: absolute;
    top: 110px;
    margin: 10px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.user_name h3 {
    color: #4c5b68;
}

.detail {
    /*margin-top:10px;*/
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.detail p {
    font-size: 12px;
    font-weight: 700;

}

.detail p a {
    text-decoration: none;
    color: blue;
}






.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #304767;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

.warning {
    border: 1px solid red !important;
}


/*right-side-end*/
@media (max-width:750px) {
    .container {
        height: scroll;


    }

    .container .card {
        max-width: 350px;
        height: auto !important;
        margin: 30px 0;
    }

    .container .card .right-side {
        width: 100%;

    }

    .input-text {
        display: block;
    }

    .input-text .input-div {
        margin-top: 20px;

    }

    .container .card .left-side {

        display: none;
    }
}


.radio_div {
    height: 40px;
    line-height: 40px;
    border: 1px solid #cbced4;
    border-radius: 5px;
    padding: 0 17px 10px;
    box-sizing: border-box;
    gap: 20px;
}





.s_card-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
}

.small-desc {
    font-size: 1em;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.s_card {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 320px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    /* background: linear-gradient(to bottom, #c3e6ec, #a7d1d9); */
    background: #ededed75;
    font-family: Arial, Helvetica, sans-serif;
}



#top-table,
#bottom-table {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#top-table td,
#bottom-table td #top-table th,
#bottom-table th {
    font-size: small;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    padding: 8px;
}

#top-table th,
#bottom-table th {
    background-color: #ddd;
}



#top-table th,
#bottom-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;

    color: rgb(0, 0, 0);
}


input[type="radio"]:checked+label+.radio_div {
    border-color: blue;
}
